.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 3rem;
  padding: 1rem;

  section {
    /* Mobil: Volle Breite */
    grid-column: span 12;
    overflow-x: auto;

    @media (min-width: 768px) {
      grid-column: 2 / span 10;
    }
  }

  .table-grid {
    display: grid;
    width: 100%;
    border: 1px solid #ddd;

    .header-cell, .cell {
      border: 0.5px solid #ddd;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .header-cell {
      background-color: #f4f4f4;
      font-weight: bold;
    }

    @media (min-width: 768px) {
      grid-auto-rows: 80px;
      align-items: center;

      .cell, .header-cell {
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
  }

  .courses-grid {
    grid-template-columns: repeat(6, 1fr);
  }

  .registrations-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
